{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

    <body>
        
        <div class="container">
            <h2>Login</h2>
            <form action="{% url 'login1' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="email">email</label>
                    <input type="email" name="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" name="password" required>
                </div>

                <button type="submit">Login</button>
            </form>
            <p class="message"><a href="{%  url 'register' %}"><b>Register</b></a>
            </div>
    </body>
    </html>
    